@{
    ViewData["Title"] = "Power2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Power2 Calculation</h3>
<form method="post" action="https://localhost:7007/power2">
    <label for="value1">Enter a number to power:</label>
    <input type="number" name="Value1" id="value1" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (ViewBag.Result != null)
{
    <p>Power2 Result: @ViewBag.Result</p>
}

