@{
    ViewData["Title"] = "index";
}


<div class="text-center">
    <h1 class="display-4">Welcome Calculate Page</h1>
    <p>@ViewBag.Message</p>


    <div>
        <form asp-controller="Calculate" asp-action="power2" method="get">
            <h1>Power number : </h1>
            <label for="value1">put number to calculate</label>
            <input name="value1" id="value1" type="number"  required /><br><br><br>
            <div>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>


            @if (ViewBag.Result != null)
            {
                <h3>Result: @ViewBag.Result</h3>
            }

        </form>
        
    </div>

</div>
<script>
    document.getEement("powerForm").addEventListenner("submit", function (event) {
        event.preventDefaault();
        var value = document.getElementById()
    })
</script>