@{
    ViewData["Title"] = "Sum2";
}


<div class="text-center">
    <h1 class="display-4">Welcome Calculate Page</h1>
    <p>@ViewBag.Message</p>

    
    <div>
        <form asp-controller="Calculate" asp-action="Sum2" method="post">
        <h1>Sum number : </h1>
        <p>put number to calculate</p>
        <input name ="value2" id="value2" type="number" /><br><br><br>
        <div>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
        </form>
    </div>
 



</div>

