@{
    ViewData["Title"] = "Sum2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Sum2 Calculation</h3>
<form method="post" action="https://localhost:7007/sum2">
    <label for="value2">Enter a number to add 2:</label>
    <input type="number" name="Value2" id="value2" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (ViewBag.Result != null)
{
    <p>Sum2 Result: @ViewBag.Result</p>
}
